flows.json
[{"id":"1ab741e4.4f2be6","type":"tab","label":"Hello World","disabled":false,"info":""},{"id":"9fd81c5b.92752","type":"inject","z":"1ab741e4.4f2be6","name":"","topic":"","payload":"Hello World Inject","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":263.99998474121094,"y":73,"wires":[["edf60fb2.044c78"]],"l":false},{"id":"5787a01b.20f988","type":"link in","z":"1ab741e4.4f2be6","name":"Translation Input","links":["edf60fb2.044c78","f1be8226.175908"],"x":256.4000244140625,"y":147,"wires":[["c23e53de.75f7c"]]},{"id":"edf60fb2.044c78","type":"link out","z":"1ab741e4.4f2be6","name":"Hello String","links":["5787a01b.20f988"],"x":337.4000244140625,"y":61.59999084472656,"wires":[]},{"id":"c23e53de.75f7c","type":"watson-translator","z":"1ab741e4.4f2be6","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":326.40000915527344,"y":143,"wires":[["531d23aa.432d74"]],"l":false},{"id":"531d23aa.432d74","type":"debug","z":"1ab741e4.4f2be6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"translation","targetType":"msg","x":435,"y":103.59999084472656,"wires":[],"l":false},{"id":"efb567cd.4b0768","type":"inject","z":"1ab741e4.4f2be6","name":"Goodbye Inject","topic":"","payload":"It is time for me to go now.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":256.99998474121094,"y":231.99998474121094,"wires":[["f1be8226.175908"]],"l":false},{"id":"f1be8226.175908","type":"link out","z":"1ab741e4.4f2be6","name":"Goodbye String","links":["5787a01b.20f988"],"x":329.20001220703125,"y":220.1999969482422,"wires":[]}]